= form_for :invoice_header, url: invoice_headers_path do |f|
  .row
    .col-5.bg-dark.text-white.p-4
      .form-floating
        .col-sm
          label.col-form-label
            |  Nombre 
          = f.text_field :name, class: 'form-control' , id: 'floatingInputGrid', required: "true"
      .form-floating
        .col-sm
          label.col-form-label
            |  Apellido 
          = f.text_field :lastname, class: 'form-control' , required: "true"
      .form-floating
        .col-sm
          label.col-form-label
            |  DNI 
          = f.text_field :dni, class: 'form-control' , required: "true"
    .col-7.pt-4.pb-4.border.border-dark
      .form-floating
        .col-sm
          label.col-form-label
            |  Dirección 
          = f.text_field :adress, class: 'form-control' , required: "true"
      .form-floating
        .col-sm
          label.col-form-label
            |  Teléfono 
          = f.text_field :phone, class: 'form-control' , required: "true"
      .form-floating
        .col-sm
          label.col-form-label
            |  Correo Electrónico 
          = f.text_field :email, class: 'form-control' , required: "true"
    = f.hidden_field :total, value: 0.0
    br
    = f.hidden_field :tax, value: 0.0
    br
    .col-12.p-2.text-right
      = f.submit "Agregar", class: "col-2 btn btn-lg bg-dark text-white align-center mr-1"
      = link_to  invoice_headers_path(), class: "col-2 btn btn-lg bg-secondary text-white align-center" do 
          | Volver