.container-md
  .card.mt-5
    .card-header
      |  Listado Facturas 
    .card-body
      table.table
        thead.thead-dark
          tr
            th[scope="col"]
              | #
            th[scope="col"]
              | Nombre del Cliente
            th[scope="col"]
              
            th[scope="col"]
              | Fecha
            th.text-right[scope="col"]
              | Total
            th.text-right[scope="col"]
              | Taxes
        tbody
          - @invoices.each do |item, i|
            tr
              th[scope="row"]
                = i
              td
                = link_to invoice_header_path(id: item.id), title: 'Abrir Factura', class: "text-dark" do
                  = item.get_fullname
              td
                = link_to invoice_header_path(id: item.id, mode:'inline',format: :pdf), class: "btn btn-sm bg-light ml-1" do
                  i.fas.fa-file-pdf 
                = link_to invoice_header_path(id: item.id, mode:'attachment',format: :pdf), class: "btn btn-sm bg-light ml-1" do
                  i.fas.fa-file-download   
                = link_to invoice_header_path(id: item.id),method: :delete, class: "btn btn-sm bg-light" do
                  i.fas.fa-trash  
              td
                = item.created_at.strftime("%d-%m-%Y")
              td.text-right
                = number_to_currency(item.total, unit: '€',format: '%n%u')
              td.text-right
                = number_to_currency(item.tax, unit: '€',format: '%n%u')
    .card-footer.text-right
      = link_to new_invoice_header_path(), class: "btn btn-md bg-dark text-white" do
        |  Nueva Factura 
