style
  |  .tabla-total { width: 95%; margin-left: 2em; margin-top: 2em; text-align: : center ; } .tbody, td { font-family: Arial, Helvetica, sans-serif; padding: 2em; text-align: center ; border: 0.15em solid #000099; } 
div[style="text-align: left;"]
  = image_tag wicked_pdf_asset_base64('zara.png'), width: '30%'
  address

  h3
    strong
      = @invoice.get_fullname
  h4
    | NIF 
    = @invoice.dni
  = @invoice.adress
  |  Teléfono 
  = @invoice.phone
  br
  |  E-mail 
  = @invoice.email
div[style="text-align: right; border-bottom: 0.15em solid "]
  div[style="font-size: 3em; margin-bottom: 1em;"]
    strong
      | FACTURA
  div[style="font-size: 1.5em;"]
    | Número  
    = @invoice.id
    br
    | Fecha   
    = @invoice.created_at.strftime("%d/%m/%Y")
div[style="text-align: right; border-bottom: 0.15em solid; margin-top: 1em;"]
  div[style="font-size: 2em;"]
    strong
      |  Total 
      =number_to_currency(@invoice.total, unit: '€',format: '%n%u')
  div[style="font-size: 1.5em;"]
    |  Taxes (IVA)  
    =number_to_currency(@invoice.tax, unit: '€',format: '%n%u')
table.tabla-total
  thead.bg-light[style=""]
    tr
      th[scope="col"]
        | #
      th[scope="col"]
        | Producto
      th.text-center[scope="col"]
        | Cantidad
      th.text-right[scope="col"]
        | Precio Unidad
      th.text-right[scope="col"]
        | Total
  tbody
    - @invoice.invoice_lines.each_with_index do |item, i|
      tr
        th[scope="row"]
          = i
        td
          strong
            = item.name
        td.text-center
          = item.quantity
        td.text-right
          = number_to_currency(item.unit_price, unit: '€',format: '%n%u')
        td.text-right
          = number_to_currency(item.line_total, unit: '€',format: '%n%u')
