.col-6.container.mt-5
  .card.p-0
    = image_tag 'zara.png', class: "col-3 btn btn-md p-3"
    .row.m-2.p-2
      .text-right
        = link_to invoice_header_path(id: @invoice.id),method: :delete, class: "col-1 btn btn-xs bg-light m-1" do
          i.fas.fa-trash
    .card-body.m-2
      .row
        .col-5.bg-dark.text-white.p-4
          .form-floating
            .col-sm
              h2
                | Factura # 
                = @invoice.id
          .form-floating
            .col-sm
              h3.col-form-label
                = @invoice.get_fullname
          .form-floating
            .col-sm
              label.col-form-label
                = @invoice.dni
        .col-7.pt-4.pb-4.border.border-dark
          .form-floating
            .col-sm
              label.col-form-label
                = @invoice.adress
          .form-floating
            .col-sm
              label.col-form-label
                = @invoice.phone
          .form-floating
            .col-sm
              label.col-form-label
                = @invoice.email
    .card-body.p-4
      .text-right.pd-2
        = link_to new_invoice_line_path(invoice_id: @invoice.id), remote: true ,class: "btn btn-xs" do
          i.fas.fa-plus
          |  Agregar Linea 
      table.table
        thead.bg-light
          tr
            th[scope="col"]
              | #
            th[scope="col"]
              | 
            th[scope="col"]
              | Producto
            th.text-center[scope="col"]
              | Cantidad
            th.text-right[scope="col"]
              | Precio Unidad
            th.text-right[scope="col"]
              | Total
        tbody
          - @invoice.invoice_lines.each_with_index do |item, i|
            tr
              th[scope="row"]
                = i
              th[scope="row"]
                = link_to invoice_line_path(id: item.id),method: :delete, class: "btn btn-sm bg-light" do
                  i.fas.fa-trash 
              td
                = item.name
              td.text-center
                = item.quantity
              td.text-right
                = number_to_currency(item.unit_price, unit: '€',format: '%n%u')
              td.text-right
                = number_to_currency(item.line_total, unit: '€',format: '%n%u')
      .row.bg-light.p-3.text-right
        p
          |  Tax(IVA):
          = number_to_currency(@invoice.tax, unit: '€',format: '%n%u') 
        h3
          |  Total (incluye IVA):
          = number_to_currency(@invoice.total, unit: '€',format: '%n%u')
      .row
        .text-right.p-2
          = link_to invoice_headers_path(), class: "col-2 btn btn-md bg-dark text-white" do
            |  Aceptar 
