#lines-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close[type="button" data-dismiss="modal" aria-label="Close"]
        span[aria-hidden="true"]
        | ×
        h4.modal-title
      .modal-body
        = form_for :invoice_line, url: invoice_lines_path(), remote: true do |f|
          = f.hidden_field :invoice_header_id, value: params[:invoice_id]
          .form-group
            = f.text_field :name, class: "form-control input-lg", placeholder: "Nombre del producto"
          .form-group
            = f.text_field :color, class: "form-control input-lg", placeholder: "Color"
          .form-group
            = f.number_field :unit_price, class: "form-control input-lg", placeholder: "Precio del producto"
          .form-group
            = f.number_field :quantity, class: "form-control input-lg", placeholder: "Cantidad"
    
          = f.submit "Agregar", class: "btn btn-md bg-light"
