tr
  th[scope="row"]
    = i
  td
    = item.name
  td.text-center
    = item.quantity
  td.text-right
    = number_to_currency(item.unit_price, unit: '€',format: '%n%u')
  td.text-right
    = number_to_currency(item.line_total, unit: '€',format: '%n%u')
