- if @line.errors.empty?
  |  $('table tbody').append('
  = j render "row", item: @line, i: @num_lin
  | '); $('.alert-success').html("El producto ha sido creado con éxito").show(); $('#lines-modal').modal('hide'); 
- else
  |  alert('
  = @line.errors.full_messages[0]
  | '); 
