doctype html
html
  head
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    style
    = wicked_pdf_stylesheet_link_tag 'pdf'
    = wicked_pdf_javascript_include_tag 'number_pages'

  body[onload="number_pages"]
  	#header
  		
  	#content
    	= yield


